# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Test Reports
allure-results/
allure-report/
htmlcov/
coverage/
.pytest_cache/

# Logs
logs/
*.log

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/

# Screenshots & Videos
screenshots/
videos/
traces/